@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Green Shades*/
  --color-text-green: #e9edc9;
  --color-light-green: #cdd5c6;
  --color-mid-green: #9ea58d;
  --color-dark-green: #646a5e;
  --color-dark-olive: #6b705c;

  /* Beige and Browns */
  --color-light-cream: #fbf2ed;
  --color-mid-brown: #a69383;
  --color-light-brown: #bfaa8f;
  --color-dark-brown: #8c6046;

  /*Neutral Browns*/
  --color-dark-neutral-brown: #8c6046;
  --color-accent-red: #401303;
}
html {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: var(--color-light-cream);
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.wrapper {
  max-width: min(100%, 1550px);
  margin-inline: auto;
}

/*navigation*/
.nav-container {
  background-color: var(--color-light-green);
  color: var(--color-dark-green);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: min(0.5rem, 5%) min(1rem, 10%);
}
.logo {
  font-size: 2rem;
  font-weight: 600;
}
.nav-bar {
  text-align: right;
}
.nav-bar a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-dark-green);
  padding-left: min(1rem, 15%);
}
.nav-bar a:hover {
  color: var(--color-light-cream);
}

/*Hero Section*/
.hero-container {
  padding: 0 min(1rem, 10%);
  height: clamp(900px, 100vh, 1200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-content {
  max-width: 50%;
}
.hero-content h1 {
  font-size: clamp(28px, 3.5vw, 3rem);
  font-weight: 700;
  color: var(--color-dark-brown);
}
.hero-content h2 {
  font-size: clamp(22px, 2.5vw, 2rem);
  font-weight: 500;
  color: var(--color-dark-green);
}
.hero-content p {
  font-size: clamp(18px, 2vw, 1.5rem);
  color: var(--color-dark-brown);
}

.hero-buttons {
  font-size: clamp(12px, 1rem, 1vw);
  text-align: center;
  font-weight: 500;
  display: grid;
  grid-auto-flow: column;
  max-width: min(90%, 650px);
  gap: min(1rem, 15%);
  padding: min(2.5rem, 10%) 0;
}
.resume-btn {
  color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green);
  padding: min(2%, 5px) 0;
  border-radius: 0.5rem;
}

.talk-btn {
  color: var(--color-light-cream);
  background-color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green);
  padding: min(2%, 5px) 0;
  border-radius: 0.5rem;
}

.hero-img {
  align-self: flex-start;
  text-align: right;
}
.comp-plant {
  width: 90%;
  aspect-ratio: 8/9;
}

/*ABOUT*/
.about-container {
  text-align: center;
  color: var(--color-dark-brown);
  height: clamp(600px, 100vh, 900px);
}

.profile-pic {
  border-radius: 50%;
  width: min(15rem, 40vw);
}

.about-container h2 {
  font-size: clamp(28px, 3.5vw, 3rem);
  font-weight: 600;
  margin: min(5vh, 20px) auto;
}

.about-desc {
  margin: min(5vh, 20px) auto;
  max-width: min(60%, 100vw);
}

.break-vine {
  height: clamp(40px, 8vh, 50px);
  padding-bottom: clamp(50px, 10vh, 150px);
}

/*SKILLS*/
.skills {
  text-align: center;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, clamp(200px, 30%, 500px));
  justify-content: space-around;
  margin: min(3rem, 15%) 0;
}
.skill {
  text-align: left;
  background-color: var(--color-dark-brown);
  border-radius: 20px;
  padding: min(1rem, 10%);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.title {
  max-width: min-content;
  padding-inline: min(1rem, 10%);
  font-size: clamp(20px, 2vw, 1.5rem);
  font-weight: 600;
  color: var(--color-light-cream);
}
.skills h2 {
  font-size: clamp(24px, 3.5vw, 3.5rem);
  font-weight: 600;
  color: var(--color-dark-green);
}

.icon {
  background-color: var(--color-light-green);
  border-radius: min(15px, 2vw);
  padding: 0.2rem;
  max-width: 60px;
  max-height: 60px;
}
.icon img {
  margin: auto auto;
  max-width: 100%;
  aspect-ratio: 1;
}

.detail {
  grid-column: span 2;
  font-size: clamp(16px, 1.5vw, 1.3rem);
  line-height: clamp(22px, 2.2vw, 2.3rem);
  color: var(--color-light-cream);
  font-weight: 200;
  padding-top: min(1rem, 10%);
  padding-bottom: min(1rem, 10%);
}

/*Project*/
.carousel-wrapper {
  position: relative;
  overflow: hidden;
}
.projects {
  text-align: center;
}
.projects h2 {
  font-size: clamp(24px, 3.5vw, 3.5rem);
  color: var(--color-dark-brown);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, clamp(200px, 30%, 500px));
  justify-content: space-around;
  margin: min(4rem, 10vh) 0;
}

.project {
  background-color: var(--color-light-green);
  border: clamp(16px, 2.5vw, 1rem) solid var(--color-dark-green);
  border-bottom: 2rem solid var(--color-mid-green);
  height: clamp(230px, 30vw, 500px);
  border-radius: 55% 55% 0 0;
  margin-bottom: clamp(20px, 3vw, 2.5rem);
  color: var(--color-light-cream);
  align-content: center;
}

.project:hover {
  background-color: var(--color-light-cream);
  border: clamp(16px, 2.5vw, 1rem) solid var(--color-dark-brown);
  border-bottom: 2rem solid var(--color-mid-brown);
  color: var(--color-mid-green);
}
.project:hover .proj-title {
  color: var(--color-mid-green);
}
.proj-title {
  max-width: 70%;
  margin-inline: auto;
  padding-inline: min(1rem, 10%);
  font-size: clamp(20px, 2vw, 2rem);
  font-weight: 600;
  padding-top: min(5rem, 20%);
}
h4.description {
  width: 80%;
  margin-inline: auto;
  font-weight: 400;
  font-size: clamp(12px, 1vw, 1rem);
}

/*CONTACT*/
.contact {
  padding: 0 min(3rem, 10%);
  height: clamp(400px, 70vh, 1000px);
  background-image: url("/images/bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}
.contact-content h2 {
  color: var(--color-dark-brown);
  font-size: clamp(28px, 3.5vw, 3rem);
  font-weight: 600;
  text-align: center;
  margin: min(6vh, 25px) auto;
}
.contact-container {
  grid-area: 1 / 3;
}

.content-container {
  background-color: var(--color-mid-brown);
  color: var(--color-light-cream);
  max-width: 90%;
  height: max-content;
  border-radius: 20px;
  padding: clamp(10px, 2vh, 2rem);
  display: grid;
  grid-template-columns: 15% auto;
}
.contact-container a {
  color: var(--color-light-cream);
  padding-bottom: clamp(10px, 2vh, 2rem);
  font-size: clamp(11px, 1.2vw, 1rem);
}
.contact-container a:hover {
  color: var(--color-light-green);
}
#contact > div > div > h3 {
  font-size: clamp(16px, 2vw, 1.5rem);
  margin-bottom: min(6vh, 25px);
  font-weight: 500;
  grid-column: span 2;
}
.mail-icon {
  stroke: var(--color-light-green);
  max-width: 50%;
}

.contact-icon {
  fill: var(--color-light-green);
  max-width: 50%;
}
/*FOOTER*/

footer {
  background-color: var(--color-light-green);
  color: var(--color-dark-brown);
  text-align: center;
  padding: min(0.8rem, 5%) 0;
}
footer h5 {
  font-size: clamp(12px, 1vw, 0.9rem);
  font-weight: 400;
}
footer p {
  font-size: clamp(12px, 1vw, 0.9rem);
  font-weight: 400;
}

/*MEDIA QUERIES*/

@media (max-width: 1400px) {
  .hero-container {
    height: clamp(900px, 70vh, 1100px);
  }
}

@media (max-width: 1040px) {
  .hero-container {
    height: clamp(600px, 60vh, 900px);
  }
}

@media (max-width: 900px) {
  .hero-container {
    height: clamp(700px, 70vh, 820px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hero-img {
    order: -1;
    align-self: center;
  }
  .comp-plant {
    height: min(30vh, 350px);
  }
  .hero-content {
    max-width: 95%;
  }
  .skills-container {
    margin: min(3rem, 15%) auto;
    width: clamp(250px, 70vw, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skill {
    height: max-content;
    margin-bottom: min(3rem, 15%);
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, clamp(200px, 45%, 410px));
    justify-content: space-around;
    margin: min(rem, 10vh) 0;
  }
  .project {
    background-color: var(--color-light-green);
    height: clamp(230px, 30vw, 500px);
    border-radius: 55% 55% 0 0;
    border: clamp(16px, 2.5vw, 1rem) solid var(--color-dark-green);
    border-bottom: 1.5rem solid var(--color-mid-green);
    margin-bottom: clamp(20px, 3vw, 2.5rem);
  }
  .project:hover {
    border-bottom: 1.5rem solid var(--color-mid-brown);
  }
  .proj-title {
    max-width: 85%;
    padding-top: min(3rem, 15%);
  }
  .contact {
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr 1fr;
  }
  .contact-container {
    grid-area: 1 / 2;
  }
  #contact > div > div > h3 {
    font-size: clamp(16px, 2vw, 1.8rem);
  }
  .contact-container a {
    font-size: clamp(12px, 1.2vw, 1.2rem);
  }
}

@media (min-width: 656px) {
  .carousel-button {
    display: none;
  }
}

@media (max-width: 655px) {
  .projects {
    padding: 2rem;
  }
  .carousel-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
  }
  .projects-container {
    display: flex;
    gap: 5%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 5%;
  }
  .project {
    flex: 1 0 90%;
    height: clamp(300px, 80vw, 500px);
    width: clamp(300px, 30vw, 500px);
    scroll-snap-align: start;
    overflow: hidden;
  }

  .proj-title {
    font-size: clamp(24px, 3.5vw, 2rem);
  }

  h4.description {
    font-size: clamp(12px, 2.5vw, 1.2rem);
  }

  .carousel-button {
    position: absolute;
    display: flex;
    column-gap: 1rem;
    bottom: 1.25rem;
    z-index: 1;
  }

  .carousel-button a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-accent-red);
  }
  .carousel-button a:hover {
    background-color: var(--color-dark-brown);
  }

  .carousel-nav.active {
    background-color: var(--color-dark-brown);
  }

  .contact {
    display: block;
    height: clamp(300px, 70vh, 600px);
  }
  .contact-container {
    max-width: 80%;
    margin-inline: auto;
  }
}

@media (max-width: 530px) {
  .nav-container {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }
  .logo {
    text-align: center;
  }
  .nav-bar {
    text-align: center;
  }
}
@media (max-width: 340px) {
  .hero-container {
    height: clamp(700px, 80vh, 900px);
  }
  .hero-content h1 {
    font-size: clamp(22px, 2.5vw, 2.5rem);
    font-weight: 700;
  }
  .hero-content h2 {
    font-size: clamp(18px, 2vw, 1.5rem);
    font-weight: 500;
  }
  .hero-content p {
    font-size: clamp(14px, 1vw, 1rem);
  }
}
