@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Green Shades*/
  --color-text-green: #e9edc9;
  --color-light-green: #cdd5c6;
  --color-mid-green: #9ea58d;
  --color-dark-green: #646a5e;
  --color-dark-olive: #6b705c;

  /* Beige and Browns */
  --color-light-cream: #fbf2ed;
  --color-mid-brown: #a69383;
  --color-light-brown: #bfaa8f;
  --color-dark-brown: #8c6046;

  /*Neutral Browns*/
  --color-dark-neutral-brown: #8c6046;
  --color-accent-red: #401303;
}
html {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: var(--color-light-cream);
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: min(100%, 1550px);
  margin-inline: auto;
}

/*navigation*/
.nav-container {
  background-color: var(--color-light-green);
  color: var(--color-dark-green);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: min(0.5rem, 5%) min(1rem, 10%);
}
.logo {
  font-size: 2rem;
  font-weight: 600;
}
.nav-bar {
  text-align: right;
}
.nav-bar a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-dark-green);
  padding-left: min(1rem, 15%);
}
.nav-bar a:hover {
  color: var(--color-light-cream);
}

/*Hero Section*/
.hero-container {
  padding: 0 min(1rem, 10%);
  height: clamp(900px, 100vh, 1200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-content {
  max-width: 50%;
}
.hero-content h1 {
  font-size: clamp(28px, 3.5vw, 3rem);
  font-weight: 700;
  color: var(--color-dark-brown);
}
.hero-content h2 {
  font-size: clamp(22px, 2.5vw, 2rem);
  font-weight: 500;
  color: var(--color-dark-green);
}
.hero-content p {
  font-size: clamp(18px, 2vw, 1.5rem);
  color: var(--color-dark-brown);
}

.hero-buttons {
  font-size: clamp(12px, 1rem, 1vw);
  text-align: center;
  font-weight: 500;
  display: grid;
  grid-auto-flow: column;
  max-width: min(90%, 650px);
  gap: min(1rem, 15%);
  padding: min(2.5rem, 10%) 0;
}
.resume-btn {
  color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green);
  padding: min(2%, 5px) 0;
  border-radius: 0.5rem;
}

.talk-btn {
  color: var(--color-light-cream);
  background-color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green);
  padding: min(2%, 5px) 0;
  border-radius: 0.5rem;
}

.hero-img {
  align-self: flex-start;
  text-align: right;
}
.comp-plant {
  width: 90%;
  aspect-ratio: 8/9;
}

/*ABOUT*/
.about-container {
  text-align: center;
  color: var(--color-dark-brown);
  height: clamp(600px, 100vh, 900px);
}

.profile-pic {
  border-radius: 50%;
  width: min(15rem, 40vw);
}

.about-container h2 {
  font-size: clamp(28px, 3.5vw, 3rem);
  font-weight: 600;
  margin: min(5vh, 20px) auto;
}

.about-desc {
  margin: min(5vh, 20px) auto;
  max-width: min(60%, 100vw);
}

.break-vine {
  height: clamp(40px, 8vh, 50px);
}


/*MEDIA QUERIES*/

@media (max-width: 1400px) {
  .hero-container {
    height: clamp(900px, 70vh, 1100px);
  }
}

@media (max-width: 1040px) {
  .hero-container {
    height: clamp(600px, 60vh, 900px);
  }
}

@media (max-width: 900px) {
  .hero-container {
    height: clamp(700px, 70vh, 820px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hero-img {
    order: -1;
    align-self: center;
  }
  .comp-plant {
    height: min(30vh, 350px);
  }
  .hero-content {
    max-width: 100%;
  }
}
@media (max-width: 530px) {
  .nav-container {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }
  .logo{
    text-align: center;
  }
  .nav-bar {
    text-align: center;
  }
}
@media (max-width: 340px) {
  .hero-container {
    height: clamp(700px, 80vh, 900px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
